<%- include("../partials/header.ejs") %>
<title>L채gg till stad - Svenska Elsparkcyklar</title>
</head>
<body>
  <main>
    <h1>L채gg till ny stad</h1>
    <form action="/cities" method="POST">
      <label for="name">Stadsnamn:</label>
      <input type="text" name="name" id="name" required><br>

      <label for="region">Region:</label>
      <input type="text" name="region" id="region" required><br>

      <button type="submit">L채gg till</button>
    </form>
    <a href="/cities">Tillbaka till st채der</a>
  </main>
<%- include("../partials/footer.ejs") %>
