 <%- include("./../partials/header.ejs") %>
  <title>Välkommen - Svenska Elsparkcyklar</title>
</head>
<body>
  <main>
    <h1>Välkommen till Svenska Elsparkcyklar!</h1>
    <p>Detta är startsidan för ditt system.</p>
  </main>


<%- include("./../partials/footer.ejs") %>